* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    color: white;
    font-family: "Corbel";
}

:root {
    --main-color: #41BCA2;
    --main-color2: #4EC7A4;
}

/* home section */
#home {
    background: url('../images/Wave\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
}

nav {
    margin-bottom: 2rem;
}

.navbar-brand img {
    width: 70px;
    height: 70px;
}

.navbar-brand {
    font-family: "Comic Sans MS";
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

.navbar-toggler {
    border-color: #1f6562;
}

.navbar-toggler-icon {
    display: contents;
    height: 0;
}

.navbar-toggler-icon i {
    color: #1f6562;
}

.navbar-brand:hover {
    color: #fff;
    cursor: default;
}

.collapse {
    justify-content: center;
}

.collapse .nav-item {
    margin-right: 1rem;
}

.collapse .nav-item .nav-link {
    color: white !important;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
}

.collapse .nav-item .nav-link:hover {
    color: #4e4e4e !important;
}

.homeContent .homeContentImg img {
    width: 100%;
    height: auto
}

.homeInfo {
    margin-top: 2rem;
}

.homeInfo .homeinfoTitle h1 {
    font-size: 3rem !important;
    font-weight: bold;
}

.homeInfo .homeinfoP p {
    font-size: 1.5rem;
    text-align: left;
}

.homeInfo .btn {
    background-color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
}

.homeInfo .btn a {
    color: var(--main-color);
    text-decoration: none;
}

/* start service section */
#service {
    margin-bottom: 5rem;
}

#service .serviceTitle,
#about .aboutTitle,
#appointment .appointmentTitle,
#pricing .pricingTitle,
#team .teamTitle,
#contact .contactTitle {
    margin-bottom: 2rem;
}

#service .serviceTitle h2,
#about .aboutTitle h2,
#appointment .appointmentTitle h2,
#pricing .pricingTitle h2,
#team .teamTitle h2,
#contact .contactTitle h2,
#blog .blogTitle h2,
#mainDental .maincontent h2,
#mainDental1 .maincontent1 h2 {
    font-size: 2rem;
    font-family: "Corbel";
    font-weight: bold;
    text-align: left;
    color: #000000;
    position: relative;
}


#service .serviceTitle h2::after,
#about .aboutTitle h2::after,
#appointment .appointmentTitle h2::after,
#pricing .pricingTitle h2::after,
#team .teamTitle h2::after,
#contact .contactTitle h2::after {
    content: "_____ __ _ ";
    position: absolute;
    left: 0;
    top: 1rem;
    height: 2px;
}

.serviceCards .card-body {
    padding: 2rem 1.5rem 2.5rem 1.75rem;
    position: relative;
}

.serviceCards .card-title {
    font-family: "Corbel";
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
}

.serviceCards .card-body a {
    font-size: 1.1rem;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
}

.serviceCards .card-body a::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 27%;
    height: 2px;
    left: 1.75rem;
    top: 88%;
    transition: all 0.5s;
}

/* start about section */
#about {
    margin-bottom: 5rem;
}

#about .card {
    border: none;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.26);
}

#about .card-body {
    padding: 3rem;
}

#about .card-text {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 32px;
    color: #4e4e4e;
}

#about .aboutContent {
    margin-top: 2rem;
    padding-left: 2rem;
}

#about .aboutTitlep {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 32px;
    color: #4e4e4e;
    margin-top: 2rem;
    margin-right: 2rem;
}

/* start appointment section */
#appointment {
    background: url('../images/path.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-bottom: 5rem;
    padding-top: 3rem;
}

#appointment .appointmentform .appointmentitem {
    margin-bottom: 1rem;
}

#appointment .appointmentform input,
#appointment .appointmentform textarea,
#contact .contactForm input,
#contact .contactForm textarea {
    padding: .7rem 1rem !important;
    border: none !important;
    border-bottom: 3px solid #4e4e4e !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 500;
    margin-bottom: 2rem;
}

#appointment .appointmentform button,
#contact .contactForm button {
    padding: .6rem 2rem;
    background-color: #4ec7a4;
    color: #fff;
    font-size: 1.5rem;
    text-align: left;
}

#appointment .appointmentform .item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0;
    gap: 15px;
    padding: 2rem 3rem 5rem 3rem
}

#appointment .appointmentform .item img {
    width: 100%;
    height: 100%;
}

#appointment .appointmentform .item #item1 {
    grid-area: 1/1/3/2;
    height: 200px;
}

#appointment .appointmentform .item #item2 {
    grid-area: 3/1/4/2;
    height: 150px;
}

#appointment .appointmentform .item #item3 {
    grid-area: 1/2/2/3;
    height: 150px;
}

#appointment .appointmentform .item #item4 {
    grid-area: 2/2/4/3;
    height: 200px;
}

/* start pricing section */

#pricing {
    margin-bottom: 5rem;
}

#pricing .pricingContent .card {
    border: 1px solid #4EC7A4;
}

#pricing .pricingContent .card .carditem {
    background-color: #4EC7A4;
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 120px;
    font-style: normal;
    color: #ffffff;
}

#pricing .pricingContent .card .carditem span {
    font-size: 1.5rem;
}

#pricing .pricingContent .card .card-body h3 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 63px;
    color: #4e4e4e;
    text-align: left;
}

#pricing .pricingContent .card .card-body .card-text {
    font-size: 1.3rem;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #4e4e4e;
    padding-bottom: 2rem;
}

/* start team section */

#team {
    margin-bottom: 5rem;
}

#team .teamcontent .row {
    margin-bottom: 1rem;
}

#team .teamItem {
    display: flex;
    padding: 1.5rem 1.5rem 1rem 1rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.26);
    align-items: flex-start;
}

#team .teamItem .teaminfo {
    font-size: 1rem;
    font-weight: normal;
    line-height: 31px;
    font-style: normal;
    text-align: left;
    color: #4e4e4e;
    padding-left: 1rem;
}

#team .teamItem .teaminfo h3 {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 45px;
}

#team .teamItem .teaminfo .teamicon a,
#contact .contacticon a,
footer .footericon a {
    color: var(--main-color);
    display: inline-block;
    margin-left: 1rem;
}

#team .teamItem .teaminfo .teamicon a i,
#contact .contacticon a i,
footer .footericon a i {
    font-size: 2rem;
}

/* start contact section */

#contact {
    margin-bottom: 5rem;
}

#contact .contactContent {
    align-items: center;
}

#contact .contactInfo {
    align-items: center;
}

#contact .contactInfo img {
    width: 100%;
}

#contact .contactInfo .contactInformation {
    margin-left: .5rem;
}

#contact .contactInfo .contactInformation h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #4ec7a4;
}

#contact .contactInfo .contactInformation p {
    font-size: 1.3rem;
    color: #4e4e4e;
}

#contact .contactForm button {
    text-align: center;
}

/* start footer section */
footer {
    background-color: #4ec7a4;
    padding: 3rem 0;
}

footer p {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 41px;
    color: #1f6562;
    padding-left: 5.5rem;
    padding-right: 2rem;
}

footer .footericon {
    padding-left: 5.5rem;
}

footer .footericon a {
    color: #fff;
    margin-left: 1.5rem;
}

footer .footerInformation {
    padding: 0 4rem;
}

footer .footerInformation h3 {
    color: #fff;
    font-weight: bold;
}

footer .footerInformation p {
    padding-left: 0;
}

/* start blog page */

#blog,
#mainDental {
    margin-bottom: 5rem;
}

#blog .blogTitle {
    margin-bottom: 3rem;
}

#blog .blogTitle .breadcrumb,
#mainDental .mainDentalTitle .breadcrumb,
#mainDental1 .mainDental1Title .breadcrumb {
    font-size: 22px;
    line-height: 41px;
    color: #686868;
}

#blog .blogTitle .breadcrumb a,
#mainDental .mainDentalTitle .breadcrumb a,
#mainDental1 .mainDental1Title .breadcrumb a {
    color: #686868;
    text-decoration: none;
}

#blog .card {
    border: none;
}

#blog .card .card-body .card-title {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

#blog .card .card-body .card-text {
    font-size: 1rem;
    line-height: 23px;
    text-align: center;
    color: #4e4e4e;
    padding: 2rem;
}

#blog .card .card-body .btn {
    background-color: #4EC7A4;
    color: #fff;
    padding: 0.375rem 1rem;
}

/* start Dental implants page */

#mainDental .maincontent .mainitem {
    padding-right: 6rem;
}

#mainDental .maincontent h2,
#mainDental1 .maincontent1 h2 {
    margin-bottom: 1rem;
}

#mainDental .maincontent p,
#mainDental1 .maincontent1 p {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 2.4rem;
    font-style: normal;
    text-align: left;
    color: #4e4e4e;
}

#mainDental .mainimg,
#mainDental1 .mainimg {
    display: flex;
    justify-content: center;
}

#mainDental .mainimg img,
#mainDental1 .mainimg img {
    width: 75%;
    height: 350px;
}

.serv {
    background: url('../images/path.png');
    position: absolute;
    right: 0;
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
}

#mainDental1 {
    margin-bottom: 7rem;
}

#mainDental1 .container {
    margin-right: 0;
}

#mainDental1 .col-md-6 {
    padding-right: 0 !important;
}

/* responsive  */

@media screen and (max-width:1024px) {

    /* body{
       font-size: 1em;
    }
    h2{
        font-size: 1.5em;
    }
    p{
        font-size: 1em; 
    } */
    #home {
        background: linear-gradient(to right, #41BCA2, #4EC7A4);
        padding-bottom: 2rem;
    }

}

@media screen and (max-width:770px) {
    #home {
        margin-bottom: 3rem;
    }

    .homeInfo .homeinfoTitle h1 {
        font-size: 1rem !important;
    }

    .navbar-brand img {
        width: 50px;
        height: 50px;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .homeInfo .homeinfoP p {
        font-size: .75rem;
    }

    .homeInfo .btn {
        font-size: .75rem;
    }

    .homeContent .homeContentImg img {
        width: 100%;
        height: 50vh;
    }

    #service {
        margin-bottom: 2rem;
    }

    #service .serviceTitle h2,
    #about .aboutTitle h2,
    #appointment .appointmentTitle h2,
    #pricing .pricingTitle h2,
    #team .teamTitle h2,
    #contact .contactTitle h2,
    #blog .blogTitle h2,
    #mainDental .maincontent h2,
    #mainDental1 .maincontent1 h2 {
        font-size: 1.5rem;
    }

    .serviceCards .card-body {
        padding: 2rem .5rem 2.5rem .5rem;
    }

    .serviceCards .card-title {
        font-size: 1.25rem;
    }

    .serviceCards .card-body a {
        font-size: 1rem;
    }

    .serviceCards .card-body a::after {
        left: .5rem;
    }

    #about {
        margin-bottom: 2rem;
    }

    #about .card-body {
        padding: 1rem;
    }

    #about .aboutContent {
        margin-top: 1rem;
        padding-left: 1rem;
    }

    #about .aboutTitlep {
        font-size: 1rem;
        margin-right: 1rem;
    }

    #appointment {
        background: linear-gradient(to right, #41BCA2, #4EC7A4);
        margin-bottom: 2rem;
        padding-top: 2rem;
    }

    #appointment .appointmentform button {
        padding: .6rem 2rem;
        background-color: #fff;
        color: #4ec7a4;
        font-size: 1.5rem;
        text-align: left;
    }

    #pricing {
        margin-bottom: 2rem;
    }

    #pricing .pricingContent .card {
        margin-bottom: 1rem;
    }

    #pricing .pricingContent .card .carditem {
        font-size: 1.5rem;
    }

    #pricing .pricingContent .card .carditem span {
        font-size: 1rem;
    }

    #pricing .pricingContent .card .card-body h3 {
        font-size: 1.25rem;
    }

    #pricing .pricingContent .card .card-body .card-text {
        font-size: 1.1rem;
        text-align: justify;
        padding-bottom: 1rem;
    }

    #team {
        margin-bottom: 2rem;
    }

    #team .teamcontent .row {
        margin-bottom: 1rem;
    }

    #team .teamcontent .row .col-md-6 {
        margin-bottom: 1rem;
    }


    #team .teamItem {
        padding: 1.5rem .5rem 1rem;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.26);
        align-items: center;
        flex-direction: column;
    }

    #team .teamItem .teaminfo {
        color: #4e4e4e;
        padding-left: .5rem;
    }

    #team .teamItem .teaminfo h3 {
        font-size: 1.1rem;
    }

    #team .teamItem .teaminfo .teamicon a i,
    #contact .contacticon a i,
    footer .footericon a i {
        font-size: 1.2rem;
    }

    #contact {
        margin-bottom: 2rem;
    }

    #contact .contactInfo {
        flex-direction: column;
        align-items: center;
    }

    #contact .contactInfo img {
        padding-bottom: 1rem;
    }

    #contact .contactInfo .contactInformation h3 {
        font-size: 1.2rem;
    }

    #contact .contactInfo .contactInformation p {
        font-size: 1rem;
    }

    footer {
        padding: 2rem 0;
    }

    footer p {
        font-size: 1rem;
        padding-left: 1.5rem;
        padding-right: 2rem;
    }

    footer .footericon {
        padding-left: 2rem;
        margin-bottom: 2rem;
    }

    footer .footericon a {
        color: #fff;
        margin-left: 1rem;
    }

    footer .footerInformation {
        padding: 0 1.5rem;
    }

    footer .footerInformation h3 {
        color: #fff;
        font-weight: bold;
    }

    footer .footerInformation p {
        padding-left: 0;
    }

    #blog,
    #mainDental {
        margin-bottom: 2rem;
    }

    #blog .blogTitle {
        margin-bottom: 2rem;
    }

    #blog .blogTitle .breadcrumb,
    #mainDental .mainDentalTitle .breadcrumb,
    #mainDental1 .mainDental1Title .breadcrumb {
        font-size: 1rem;
    }

    #blog .card{
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.26);
        margin-bottom: 1rem;
    }

    #blog .card .card-body .card-title {
        font-size: 1.3rem;
    }

    #blog .card .card-body .card-text {
        font-size: .85rem;
        text-align: justify;
        padding: .5rem;
    }

    #blog .card .card-body .btn {
        background-color: #4EC7A4;
        color: #fff;
        padding: 0.375rem 1rem;
    }


    #mainDental .maincontent .mainitem {
        padding-right:.5rem;
        text-align: justify;
    }
    
    #mainDental .maincontent h2,
    #mainDental1 .maincontent1 h2 {
        margin-bottom: .5rem;
    }
    
    #mainDental .maincontent p,
    #mainDental1 .maincontent1 p {
        font-size: 1rem;
    }
    
    #mainDental .mainimg,
    #mainDental1 .mainimg {
        display: flex;
        justify-content: center;
    }
    
    #mainDental .mainimg img,
    #mainDental1 .mainimg img {
        width: 80%;
        height: 200px;
    }
    
    .serv {
       display: none;
    }
    
    #mainDental1 {
        margin-bottom: 2rem;
    }
    
    #mainDental1 .container {
        margin-right: 0;
    }
    
    #mainDental1 .col-md-6 {
        padding-right: 0 !important;
    }
}